.processing-kz-cart-logos-list .item-list ul {
  display: block;
  margin: 0;
  padding: 0;
}

.processing-kz-cart-logos-list .item-list .vertical li {
  display: block;
  list-style: none;
  margin: 0 0 1px 0;
  padding: 0;
}

.processing-kz-cart-logos-list .item-list .horizontal li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 1px 0 0;
  padding: 0;
}

.processing-kz-cart-logos-list .item-list .small a {
  background: url('../images/mc_ms_vs_accpt_v_071_gif.gif') no-repeat center center transparent;
  display: block;
  height: 23px;
  overflow: hidden;
  text-indent: -999px;
  width: 37px;
}

.processing-kz-cart-logos-list .item-list .small .visa a {
  background-position: left top;
}

.processing-kz-cart-logos-list .item-list .small .mastercart a {
  background-position: left center;
}

.processing-kz-cart-logos-list .item-list .small .maestro a {
  background-position: left bottom;
}

.processing-kz-cart-logos-list .item-list .medium a {
  background: url('../images/mc_ms_vs_accpt_h_038_gif.gif') no-repeat center center transparent;
  display: block;
  height: 38px;
  overflow: hidden;
  text-indent: -999px;
  width: 60px;
}

.processing-kz-cart-logos-list .item-list .medium .visa a {
  background-position: -1px top;
}

.processing-kz-cart-logos-list .item-list .medium .mastercart a {
  background-position: -62px center;
}

.processing-kz-cart-logos-list .item-list .medium .maestro a {
  background-position: -123px bottom;
}

.transactions-overview-table .transaction-status-paid td {
  background-color: yellowgreen;
}

.transactions-overview-table .transaction-unprocessed td {
  background-color: yellow;
}
